/*body*/
.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.narrative1 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.quotes {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/*quotes*/
.row {
    display: flex;
  }
  
.column {
    flex: 200%;
    padding-left: 25px 0 0 0;
    padding-right: 25px 0 0 0;
    text-align: center;
  }


/*menu*/

/*footer*/
.socials {
    text-align: center;
}